@use './var.scss';
@use './public.scss';
@use './transition.scss';
@use './element-ui.scss';
@use './mixins.scss';

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

html {
  overflow: hidden;
  text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: visible !important;
  overflow-x: hidden !important;

  &.gray-mode {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }

  &.color-weak {
    filter: invert(80%);
  }
}

a,
a:active,
a:focus,
div:focus,
button,
div,
svg,
span {
  outline: none !important;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
}
