$sideBarWidth: 230px;
$sideBarCollapsedWidth: 64px;

$navBarHeight: 50px;

$appMainLayoutBackground: #f8f8fa;
$componentBackground: #f5f4f6;

$transitionDuration: 0.3s;

$color-white: #ffffff;
$color-black: #000000;

:root {
  --primary-color: var(--el-color-primary);

  // sidebar menu css var
  --sidebar-menu-text-color: var(--el-text-color-primary);
  --sidebar-menu-hover-text-color: var(--el-text-color-primary);

  --sidebar-menu-bg-color: var(--el-fill-color-blank);
  --sidebar-submenu-bg-color: var(--el-fill-color-blank);

  --sidebar-menu-active-bg-color: var(--el-color-primary-light-9);
  --sidebar-menu-active-text-color: var(--el-color-primary);
}
