// bem
$namespace: 'sf';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';

// layout
$sidebar-width: 230px;
$sidebar-collapsed-width: 64px;
$header-height: 50px;
$appmain-layout-bg-color: #f8f8fa;
$transition-duration: 0.3s;

//basic color
$color-white: #ffffff;
$color-black: #000000;

// or windicss border-gray-100
$border-color-base: rgba(243, 244, 246, 1);

// css var
:root {
  --primary-color: var(--el-color-primary);

  // sidebar menu css var
  --sidebar-menu-text-color: var(--el-text-color-primary);
  --sidebar-menu-hover-text-color: var(--el-text-color-primary);

  --sidebar-menu-bg-color: #{$color-white};
  --sidebar-submenu-bg-color: #{$color-white};

  --sidebar-menu-active-bg-color: var(--el-color-primary-light-9);
  --sidebar-menu-active-text-color: var(--el-color-primary);

  // header
  --header-bg-color: #{$color-white};
}
