// bem
$namespace: 'sf';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';

// layout
$sidebar-width: 230px;
$sidebar-collapsed-width: 64px;
$header-height: 50px;
$app-content-fixed-width: 1200px;
$app-bg-color: #f0f2f5;
$app-page-dark-bg-color: #242525;
$transition-duration: 0.3s;

//basic color
$color-white: #ffffff;
$color-black: #000000;

// or windicss border-gray-100
$border-color-base: rgba(243, 244, 246, 1);

// css var
:root {
  // sidebar bg
  --sidebar-bg-color: #{$color-white};
  --sidebar-darken-bg-color: #{$color-white};

  // header
  --header-bg-color: #{$color-white};
  --header-hover-bg-color: #{$color-white};
}
